body{
    padding: 0;
    margin: 0;
    background-image: url("images/background_first.jpeg");
    font-family: Arial, sans-serif;
    background-size: cover;
}
.container-fluid{
    width: 200px;
    margin: auto;
}
.start{
    text-align: center;
    margin-top: 270px;
    background-color: white;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    border: solid #F6CA67 3px;
    transition-duration: 0.5s;
}
a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.start:hover{
    transition-duration: 0.5s;
    box-shadow: 0 0 10px black;
}
